@charset "utf-8";
/* 알뜰상품  */
.sale {
  position: relative;
  display: block;
  background-color: #f8f9ff;
}
.sale .slide-control {
  margin-top: 100px;
}

/* 신상물품 */
.new {
  position: relative;
  display: block;
}
.new .section-bt {
  position: absolute;
  right: 0;
  bottom: 0;
}
.new-wrap {
  position: relative;
  display: block;
  border-bottom: 1px solid #eee;
  padding-bottom: 50px;
}

.new-left {
  position: relative;
  display: block;
  width: calc(50% - 8px);
  float: left;
}
.new-img {
  position: relative;
  display: block;
  height: 370px;
  margin-bottom: 20px;
  overflow: hidden;
}

.new-title {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
}

.new-txt {
  position: relative;
  display: block;
  font-size: 17px;
}

.new-right {
  position: relative;
  display: block;
  width: calc(50% - 8px);
  float: right;
}
.new-box {
  position: relative;
  display: block;
  width: calc(50% - 8px);
}
.new-box-img {
  position: relative;
  display: block;
  width: 100%;
  height: 180px;
  overflow: hidden;
  margin-bottom: 15px;
}
.new-box-img img {
  width: 102%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.new-box-title {
  position: relative;
  display: block;
  font-size: 17px;
  font-weight: 500;
  /* 말줄임 ... 처리 */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 10px;
}
/* 홀수는 왼쪽 */
.new-right .new-box:nth-child(2n + 1) {
  float: left;
}
/* 짝수는 오른쪽 */
.new-right .new-box:nth-child(2n) {
  float: right;
}
/* 추천 물품 */
.recommend {
  position: relative;
  display: block;
  background-color: #fff8fa;
}

.section-title-txt {
  font-size: 17px;
  border-bottom: 2px solid #76bd42;
  display: inline-block;
  margin-bottom: 30px;
}

.blue {
  color: #76bd42;
}
/* 브랜드관 */
.brand {
  position: relative;
  display: block;
  background-color: #f3f9f0;
}
.brand .slide-control{
    margin-top: 25px;
}
.brand-slide{
    position: relative;
    display: block;
}
.brand-box{
    position: relative;
    display: block;
    width: 285px;
    height: 285px;
    background-color: #fff;
    padding: 35px 30px;
}

.brand-box a {
    position: relative;
    display: block;
    text-align: center;
}

.brand-box a img {
    position: relative;
    display: inline-block;
}

.brand-box a p {
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 40px;
}

.brand-info {
    position: relative;
    display: block;
}

.brand-info > li {
    position: relative;
    display: block;
    width: 50%;
    border-right: 1px solid #e3e3e3;
    float: left;
}

.brand-info > li:last-child {
    border: 0;
}

.brand-info-title {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin: 5px 0;
}

.brand-info-value {
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 700;
}

.brand .section-bt{
    margin-top: 20px;
}
/* 배너 */
.banner{
  position: relative;
  display: block;
  padding-bottom: 0;
}
.banner-slide{
  position: relative;
  display: block;
}

.banner-slide a{
  position: relative;
  display: block;
}

.banner .slide-prev,
.banner .slide-next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 19px;
  height: 34px;
  cursor: pointer;
  border: 0;
  z-index: 9;
}

.banner .slide-prev{
  background: url("../images/banner_arrow.png") no-repeat;
  background-position: 0 -34px;
  left: 20px;
}

.banner .slide-next{
  right: 20px;
  background: url("../images/banner_arrow.png") no-repeat;
  transform: translateY(-50%) rotateY(180deg);
  background-position: 0 -34px;
}

.banner .slide-prev:hover,
.banner .slide-next:hover{
  background-position: 0 0;
}